<%= form_for :conversation, url: :conversations, html: { class: "" } do |f| %>
    <div class="form-group">
      <%= f.label :recipients, "An:" %><br>
      <%= f.select(:recipients, options_from_collection_for_select(@friends, 'id', 'name', params[:recipient_id]), {}, { multiple: true, class: 'chosen-select form-control' }) %>

    </div>
    <div class="form-group">
      <%= f.label :subject, "Titel: " %>
      <%= f.text_field :subject, placeholder: "Thema", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :message, "Nachricht: " %>
      <%= f.text_area :body, class: 'form-control',placeholder: "Deine Nachricht hier...", rows: 4  %>
    </div>

    <%= f.submit "Nachricht senden", class: "button button_highlight" %>

<% end %>