<div class="wrapper_full headline">
  <div class="wrapper_skinny">
    <h1>Deine Unterhaltung mit: <%= conversation.originator.name %></h1>
  </div>
</div>

<div class="wrapper_wide">
  <div class="col-md-6">
    <%= link_to "Neue Nachricht", new_conversation_path, class: "button button_highlight conv_button" %>
  </div>
  <div class="col-md-6 text-right">
    <% if conversation.is_trashed?(current_user) %>
        <%= link_to 'Aus Papierkorb entfernen', untrash_conversation_path(conversation), class: 'button button_highlight', method: :post %>
    <% else %>
        <%= link_to 'In den Papierkorb', trash_conversation_path(conversation), class: 'button button_highlight', method: :post,
                    data: {confirm: 'Bist du sicher?'} %>
    <% end %>
  </div>
</div>

<div class="wrapper_wide">
  <div class="col-md-4">
      <div class="panel-body">
        <%= render 'mailbox/folders' %>
      </div>
  </div>

  <div class="col-md-8">
      <div class="conversation">
        <%= render partial: 'messages' %>
      </div>
      <div class="conversation_footer">
        <!-- Reply Form -->
        <%= form_for :message, url: reply_conversation_path(conversation) do |f| %>
            <div class="form-group">
              <%= f.text_area :body, placeholder: "Schreibe deine Antwort hier rein", rows: 4, class: "form-control" %>
            </div>
            <%= f.submit "Antworten", class: 'btn btn-danger pull-right' %>
        <% end %>
      </div>
  </div>

</div>