<div class="wrapper_wide">
  <div class="col col_left">
    <div class="profile cf">
      <h1 class="profile_title">Profile</h1>
      <%= image_tag("avatars/avatar-05.png", class: "pic cf") %>
      <div class="profile_info">
        <p>Name: <%= @user.name %></p>
        <p>Gender: <%= get_gender(@user.gender) %></p>
        <p>Age: <%= @user.age %></p>
      </div>
    </div>
  </div>

  <div class="col col_middle">
  	<h1 class="profile_title">Questions</h1>

  	<% @user.questions.limit(3).order("created_at DESC").each do |question| %>
  	  <div class="question_answer">
  	    <div><%= link_to question.question, question %></div>
  	    <div>
  		  <% if user_signed_in? && current_user == question.user %>
  		    <%= link_to "Edit", edit_question_path(question), class: "edit_delete" %>  
  		    <%= link_to "Delete", question_path(question), method: :delete, data: { confirm: "Are you sure?" }, class: "edit_delete" %>
  		  <% end %>
  		</div>
      </div>
  	<% end %>
  </div>

  <div class="col col_right">
    <h1 class="profile_title">Answers</h1>
    <% @user.answers.limit(3).order("created_at DESC").each do |answer| %>
      <div class="question_answer">
        <div><%= link_to answer.content, [answer.question] %></div>
        <% if user_signed_in? && current_user == answer.user %>
          <%= link_to "Edit", edit_question_answer_path(answer.question, answer), class: "edit_delete" %>  
          <%= link_to "Delete", [answer.question, answer], method: :delete, data: { confirm: "Are you sure?" }, class: "edit_delete" %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>



