<div class="wrapper_full headline">
  <div class="wrapper_skinny">
    <h1><%= @user.name %>'s Profil</h1>
  </div>
</div>


<div class="wrapper_wide">
  <div class="col col_left">
    <div class="profile cf">
      <h2 class="profile_title">Profile</h2>
      <%= image_tag("avatars/avatar-05.png", class: "pic cf") %>
      <div class="profile_info">
        <p>Name: <%= @user.name %></p>
        <p>Geschlecht: <%= get_gender(@user.gender) %></p>
        <p>Alter: <%= @user.age %></p>
      </div>

    <h4>Freunde</h4>
    <ul>
        <% @user.friends.each do |friend| %>
        <li>
          <%= link_to friend.name, friend %> 
          <% if current_user == @user %>
            <%= link_to "Beenden", friendship_path(:id => friend), 
                                   :method => :delete,
                                   data: { confirm: "Bist du sicher, dass du die Freundschaft mit #{friend.name} beenden willst?"}  %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <% if current_user == @user %>
        <h4>Freundschaftsanfragen</h4>
        <ul>
            <% @user.requested_friendships.each do |request| %>
            <li>
              <%= request.email %> 
              <%= link_to "bestätigen", friendship_path(:id => request), :method => "patch" %> 
              <%= link_to "ablehnen", friendship_path(:id => request), :method => :delete %>
            </li>
          <% end %>
        </ul>
    <% end %>
    </div>
  </div>

  <div class="col col_middle">
  	<h2 class="profile_title">Deine Fragen</h2>

  	<% @user.questions.limit(3).order("created_at DESC").each do |question| %>
  	  <div class="question_answer">
  	    <p><%= link_to question.question, question %></p>
  	      <div>
  		      <% if user_signed_in? && current_user == question.user %>
  		        <%= link_to "Bearbeiten", edit_question_path(question), class: "edit_delete" %>  
  		       <%= link_to "Löschen", question_path(question), method: :delete, data: { confirm: "Bist du sicher, dass du die Frage löschen willst?" }, class: "edit_delete" %>
  		      <% end %>
  		    </div>
        <hr class="line">
      </div>
  	<% end %>
  </div>

  <div class="col col_right">
    <h2 class="profile_title">Deine Antworten</h2>
    <% @user.answers.limit(3).order("created_at DESC").each do |answer| %>
      <div class="question_answer">

        <p><%= link_to answer.question.question, [answer.question] %></p>
        <p>"<%= answer.content %>"</p>
        <% if user_signed_in? && current_user == answer.user %>
          <%= link_to "Bearbeiten", edit_question_answer_path(answer.question, answer), class: "edit_delete" %>  
          <%= link_to "Löschen", [answer.question, answer], method: :delete, data: { confirm: "Bist du sicher, dass du die Antwort löschen willst?" }, class: "edit_delete" %>
        <% end %>
      </div>
      <hr class="line">
    <% end %>
  </div>

</div>



