<div id="background">
  <header class="cf">
    <div class="wrapper_wide">
      <%= link_to "sagmal", root_path, id: "logo" %>
      <nav>
        <%= form_for(:user, :url => session_path(:user)) do |f| %>
          <%= f.text_field :email %>
          <%= f.password_field :password %>
          <%= f.submit 'Sign in' %>
        <% end %>
        <ul>
          <% unless user_signed_in? %>
            <li><%= link_to "Explore", questions_path %></li>
            <li><%= link_to "About", "#" %></li>
            <li><%= link_to "Sign In", new_user_session_path %></li>
          <% else %>
            <li><%= link_to "Edit", edit_user_registration_path %></li>
             <li><%= link_to "Explore", questions_path  %></li>
            <li><%= link_to "Dashboard", user_path(current_user) %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>

  <div class="wrapper_skinny">
    <div class="welcome_title">
      <h1 class="first">Beantworte</h1>
      <h1 class="second">kreativ</h1>
      <h1 class="third">Fragen</h1>
    </div>
    <%= link_to "Anmelden", new_user_registration_path, class: "button button_highlight" %>
    <div class="welcome_subtitle">und lerne tolle<br> Leute kennen</div>
  </div>
</div>